.navbar {
  background-color: var(--white);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  padding: 0 20px;
}

.navbar-logo {
  color: var(--primary-blue);
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  font-weight: 800;
  letter-spacing: -0.5px;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.nav-links {
  color: var(--text-gray);
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  font-weight: 500;
  transition: all 0.2s ease-out;
}

.nav-links:hover {
  color: var(--primary-blue);
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 500;
  color: var(--text-dark);
}

.avatar {
  width: 35px;
  height: 35px;
  background-color: var(--primary-blue);
  color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
